.pagination{
  display: flex;
  justify-content: space-between;
  li{
    @include resp(border-radius, 40, 40, 40);
    background: #f2f2f2;
    @include resp(margin, 0, (0, 5), (0, 5));
    box-shadow: 2px 2px 2px rgba(33, 33, 33, 0.1);
    display: inline-flex;
    a{
      cursor: pointer;
      @include resp(padding, (5, 12), (5, 12), (12, 20));
      @include resp(font-size, 12, 14, 16);
      color: $color-pharagraph;
      font-weight: 400;
      line-height: 1.25;
    }
    &.active{
      background: $color-pharagraph;
      a{
        cursor: default;
        color: $white;
      }
      & + .next {
        display: none;
      }
    }
    &.break-me{
      align-self: center;
      a{
        font-size: 0;
        @include resp(padding, 7, 7, 7);
      }
    }
    &.previous,
    &.next{
      display: inline-flex;
    }
    &.disabled{
      display: none;
    }

  }
  @include media(tablet){
    justify-content: flex-start;
    li{
      display: inline-flex;
    }
  }
}