.index-page{
  @include resp(padding, (24, 0), (27, 0), (73, 0));
  flex: 1;
  overflow-y: auto;
  @include media($tablet){
    max-height: none;
  }

  @include media(){
    .container{
      display: flex;
      flex-direction: column;
      height: 100%;
      max-height: calc(100vh - #{vw(90)});
      &::-webkit-scrollbar {
        width: vw(5);

      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        margin: vw(70);
      }

      &::-webkit-scrollbar-thumb {
        background-color: $color-third;
      }
    }
  }


  h2{
    @include resp(font-size, 24, 35, 35);
    @include resp(letter-spacing, 3, 3, 3);
    text-align: center;
    line-height: 1.16;
    font-family: $font;
    max-width: 95%;
    margin: auto;
  }
}