.gallery{
  @include resp(margin, (0, 0), (0, -10), (0, -16));
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: auto;
  .gallery-main{
    @include resp(padding, (8, 0), (6, 0), (18, 0));
  }
  @include media(tablet){
    flex-direction: row;
    .gallery-main{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
  }
  @include media(){
    .gallery-main{
      margin-bottom: vw(-15);
    }
  }
}