.gallery{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: auto;
  flex: 1;
  .gallery-main{
    @include resp(padding, (8, 0), (6, 0), (26, 0, 20));
    @include resp(margin, (0, 0), (0, -10), (0, -16));
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  @include media(tablet){
    .gallery-main{
      display: flex;

    }
  }

}